body
{
   
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: absolute;
    height: 100vh;
}
.feature
{
    background-color: rgb(255, 225, 249);
    display: block;
    width:120px;
    color: rgb(97, 119, 255);
    border-radius: 25px;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.heading
{
    font-size: 58px;
    font-weight: 600;
    line-height: 55px;
}
.menitm
{
    text-decoration: none;
    color: #b3b3b4;
}

.navmenu 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    
}
.descp
{
    color: rgb(149, 149, 149);
    font-size: 18;
    margin-top: 0%;
    margin-bottom:32px ;
}
.getdescp
{
    background-color: rgb(106, 124, 255);
    color: #FFFFFF;
    display: block;
    border-radius: 15px;
    width: 130px;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
}

.arrow-item
{
    margin-top:30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width:30%;
    position:relative;
    
}
.logo{
    padding: 15px;
    width: 200px;
    height: 150px;
}
.sign-in
{
    background-color: black;
    color: white;
    margin-right: 45px;
    margin-right: 45px;
    border-radius: 15px;
    width: 100px;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    
} 
.mainbody
{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
    padding: 0px 80px 0px 80px;
    transform: translateY(-50px);
    justify-content: space-between;
}
.landingpic img
{
    height:90vh;
    position:relative;   
}
#leftarrow
{   
    background-color:rgb(106, 124, 255) ;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 16px;
    font-size:12px;
    box-shadow: 2px 2px 10px rgba(0, 0 , 0, 0.6);
}
#rightarrow
{
    background-color:white ;
    color: black;
    border-radius: 50%;
    padding: 16px;
    font-size:12px;
    box-shadow: 2px 2px 10px rgba(0, 0 , 0, 0.6);
    
}
.response
{
    display: none;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-30px);
}
.heading
   {
       font-size:32px ;
       letter-spacing: -2px;
       line-height: 30px;
       width: 70vh;
   }
.hamburger /*Responsive*/
{
    display: none;
}


.descp
{
    width: 60vh;
    margin-top: 0px;
}
.feature
{
    font-size: 12px;
    width: 20vh;
}
.getdescp
{
 padding: 12px;
 font-size:12px ;
 transform: translatey(-20px);
}
.bottomdescp h6
{
    font-weight: 400;
}
.bottomdescp
{
    display: flex;
    align-items: top;
    justify-items: top;
    justify-content: center;
    width: 120px;
    transform: translate(300px,-275px);
}

   .bottomdescp p
{
    color: rgb(106, 124, 255) ;
    transform: translateY(5px);
}

@media (max-width: 600px)
{
    .navmenu
    {
        display: none;
    }
    .landingpic img 
    {
        display: none;
        
    }

   
    .menitm
    {
        display: none;
    }

   .response
   {
       display: block;
       width: 400px;
       align-items: center;
       margin-top: 32px;
       transform: translate(0px,-50px);
   }
   .sign-in
   {
       display: none;
   }  
  
 
   .mainbody
   {
       justify-content: center;
       transform: translate(-180px,-50px);
       padding-right:0;
       height: calc(100vh-150px);
   }
   
.hamburger
{
    display: flex;
    align-items: center;
    width: 50px;
}
.arrow-item
{
    align-items: center;
    justify-content: space-between;
    width: 200px;
    position: relative;
    margin-left: -219px;
    margin-top: 102px;
    transform: translate(280px,-140px);
}
.bottomdescp
   {
    margin-left: 90px;
    margin-top: 10px;
}  
} 
   
